
[[=partial ('header.html')]]

        <div class="clearfix">
        </div>
        <section id="navigation">
            <ul class="nav nav-tabs flex-wrap" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#disputch" role="tab">
                        Рассылка
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#history" role="tab">
                        История
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#deffered" role="tab">
                        Отложенные
                    </a>
                </li>
            </ul>
        </section>
        <div class="tab-content">
            <section class="tab-pane active" id="disputch" role="tabpanel">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-xl-9">
                            <div class="textarea-wrap">
                                <textarea name="taskMessage">
                                </textarea>
                                <span class="placeholder">
                                    Введите текст...
                                </span>
                                <div class="attach_bar">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col">
                                                <a href="#">
                                                    <img alt="" class="icon" src="images/icons/smile.png"/>
                                                </a>
                                            </div>
                                            <div class="col text-right">
                                                <a href="#">
                                                    <img alt="" class="icon" src="images/icons/paperclip.png"/>
                                                </a>
                                                <a href="#">
                                                    <img alt="" class="icon" src="images/icons/image.png"/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xl-3">
                            <div class="setting-item">
                                <a class="to-active" href="#" id="timer">
                                    Таймер
                                </a>
                                <div class="to-active-tab" id="timer">
                                    <div class="container-fluid no-paddings">
                                        <div class="row">
                                            <div class="col">
                                                <p>
                                                    23 июня в 10:00
                                                </p>
                                            </div>
                                            <div class="col text-right">
                                                <a href="#">
                                                    Редактировать
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <a href="#">
                                                    +
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="setting-item">
                                <div class="container-fluid no-paddings">
                                    <div class="row d-flex justify-content-between align-items-center">
                                        <div class="col-12 col-sm-3 col-md-12 col-xl-3 text-center text-sm-left mb-2">
                                            Количество
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-6 col-xl-5 text-center mb-2">
                                            <div class="input-wrap">
                                                <input type="text" name=test>
                                                </input>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3 col-xl-2 text-center mb-2 md-no-gutters">
                                            Из
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-3 col-xl-2 text-center text-sm-right mb-2">
                                            222
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="setting-item">
                                <a class="to-active" href="#" id="variable">
                                    Переменная
                                </a>
                                <div class="to-active-tab" id="variable">
                                    <div class="textarea-wrap">
                                        <textarea name="attachment">
                                        </textarea>
                                        <span class="placeholder">
                                            Введите текст... например photo100172_166443618
                                        </span>
                                        <div class="attach_bar">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col">
                                                        <a href="#">
                                                            <img alt="" class="icon" src="images/icons/smile.png"/>
                                                        </a>
                                                    </div>
                                                    <div class="col text-right">
                                                        <a href="#">
                                                            <img alt="" class="icon" src="images/icons/paperclip.png"/>
                                                        </a>
                                                        <a href="#">
                                                            <img alt="" class="icon" src="images/icons/image.png"/>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 col-md-8 col-xl-9 text-center text-md-left">
                            <a class="abtn" href="#">
                                Тестовое сообщение
                            </a>
                            <a class="abtn" href="#">
                                Запланировать
                            </a>
                        </div>
                        <div class="col-12 col-md-4 col-xl-3 text-center">
                            <a class="abtn sendTask" href="#">
                                Сохранить
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="tab-pane" id="history" role="tabpanel">
                <div class="container-fluid">
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-left">
                        <span class="time">
                            17 Июня в 10:00
                        </span>
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-right">
                        <a class="retry" href="#">
                            Повторить
                        </a>
                    </div>
                </div>
            </section>
            <section class="tab-pane" id="deffered" role="tabpanel">
                [[for (task of model.renderdata.tasks){]]
                <div class="container-fluid">  
                    <div class="row history-wrap">
                        <img alt="" class="history__background" src="images/mdk.png"></img>
                            <div class="col-12 col-sm-6 col-md-8">
                                <!-- disputch text -->
                                <p>
                                    [[=task.message]]
                                </p>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <img alt="" class="history-logo" src="images/mdk.png">
                                </img>
                            </div>
                        
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 col-sm-6 text-center text-sm-left">
                        <span class="time">
                            [[=task.date]]
                        </span>
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-right">
                        <a class="retry" href="#">
                            Повторить
                        </a>
                    </div>
                </div>[[}]]
            </section>
        </div>
        <div class="clearfix">
        </div>
        
[[=partial ('footer.html')]]