<footer>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-sm-6 col-md-4 text-center text-sm-left mb-2">
                <img alt="" class="logo-bot-plus" src="images/bot-plus.png">
                    <span class="bot-plus">
                        Bot+
                    </span>
                </img>
            </div>
            <div class="col-12 col-sm-6 col-md-4 text-center text-sm-right text-md-center mb-2">
                <p class="copyright">
                    © 2017 Bot+
                </p>
            </div>
            <div class="col-12 col-sm-12 col-md-4 text-center text-md-right mb-2">
                <p class="creator">
                    front-end by Yurij Bugaychuck
                </p>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.2.1.js" type="text/javascript">
    </script>
    <script src="js/tether.js" type="text/javascript">
    </script>
    <script src="js/bootstrap.min.js" type="text/javascript">
    </script>
    <script src="js/script.js" type="text/javascript">
    </script>
</footer>
